# _$2^{nd}$_ part of the submission

In [4]:
dd1

    PostalCode                                      Neighbourhood
0          M1B                                      Rouge,Malvern
1          M1C               Highland Creek,Rouge Hill,Port Union
2          M1E                   Guildwood ,Morningside,West Hill
3          M1G                                             Woburn
4          M1H                                         Cedarbrae
..         ...                                                ...
98         M9N                                             Weston
99         M9P                                         Westmount
100        M9R  Kingsview Village,Martin Grove Gardens ,Richvi...
101        M9V  Albion Gardens ,Beaumond Heights,Humbergate ,J...
102        M9W                                         Northwest

[103 rows x 2 columns]

I want to add the latitude and longitude of the locations in the table merging the values in dd1 with the values in a cvs file:

In [12]:
# reading csv file 
data = pd.read_csv (r'C:\Users\eleon\Downloads\Geospatial_Coordinates.csv')  
# displying  dataframe - Output 1 
data.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [14]:
df1 = pd.merge(dd1, data, on='PostalCode')
df1

,PostalCode,Neighbourhood,Latitude,Longitude
0,M1B,"Rouge,Malvern",43.806686,-79.194353
1,M1C,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,"Guildwood ,Morningside,West Hill",43.763573,-79.188711
3,M1G,Woburn,43.770992,-79.216917
4,M1H,Cedarbrae,43.773136,-79.239476
...,...,...,...,...
98,M9N,Weston,43.706876,-79.518188
99,M9P,Westmount,43.696319,-79.532242
100,M9R,"Kingsview Village,Martin Grove Gardens ,Richvi...",43.688905,-79.554724
101,M9V,"Albion Gardens ,Beaumond Heights,Humbergate ,J...",43.739416,-79.588437
102,M9W,Northwest,43.706748,-79.594054